.section-about {
  background-color: $color-grey-light-1;
  padding: 20rem 13rem;
  margin-top: -23vh;
}

.section-features {
  margin-top: -12vh;
  padding: 15rem 13rem;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(/img/hero.jpg);
  background-size: cover;

  transform: skewY(-7deg);

  & > * {
    transform: skewY(6deg);
  }
}
.section-tours {
  background-color: $color-grey-light-1;
  padding: 15rem 13rem 15rem 13rem;
  margin-top: -12vh;
}

.section-stories {
  padding: 6rem 0;
  text-align: center;
  position: relative;
}

.section-book {
  padding: 15rem 8rem;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)
  );
}
.book {
  background-image: linear-gradient(
      112deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 55%,
      transparent 55%
    ),
    url(/img/nat-10.jpg);
  background-size: 100%;
  height: 40rem;
  border-radius: 3px;
  box-shadow: 0 2rem 4rem rgba($color-black, 0.2);

  &__form {
    width: 50%;
    padding: 4rem;
  }
}
